.advertisement {
  grid-area: photo;
  margin-bottom: 60px;
  background-color: var(--grayColor);
}

.advertisement__link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  min-height: 230px;
  height: 100%;
  background-image: url("../img/photo-open-doors-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.advertisement__title {
  position: relative;
  flex-basis: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: var(--blueColor);
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--whiteColor);
  text-align: center;
  text-transform: uppercase;
}

.advertisement__title::before {
  content: "24 сентября";
  display: inline;
  position: absolute;
  padding: 10px 15px;
  top: -36px;
  left: 0;
  background-color: var(--redColor);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 768px) {
  .advertisement {
    margin-bottom: 0;
  }

  .advertisement__link {
    min-height: 337px;
    background-image: url("../img/photo-open-doors-tablet@1x.jpg");
    background-position: 50% 0;
    background-size: 100%;
  }

  .advertisement__title {
    font-size: 25px;
    line-height: 45px;
  }

  .advertisement__title::before {
    top: -44px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {

  .advertisement__link {
    height: 400px;
    background-image: url("../img/photo-open-doors-desktop@1x.jpg");
    background-position: 50% 0;
    background-size: cover;
  }

  .advertisement__title {
    margin-top: -5px;
    padding: 11px 0;
    font-size: 28px;
    line-height: 45px;
  }

  .advertisement__title::before {
    top: -50px;
    padding: 10px 18px;
    font-size: 25px;
    line-height: 30px;
  }
}

@media (min-width: 1460px) {
  .advertisement__link {
    background-size: 100%;
  }
}

@media (min-resolution: 2dppx) {
  .advertisement__link {
    background-image: url("../img/photo-open-doors-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    .advertisement__link {
      background-image: url("../img/photo-open-doors-tablet@2x.jpg");
    }
  }

  @media (min-width: 1024px) {
    .advertisement__link {
      background-image: url("../img/photo-open-doors-desktop@2x.jpg");
    }
  }
}
