.commission {
  display: none;
  padding-top: 41px;
}

.commission__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  color: var(--blueColor);
}

.commission__text {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  font-size: 20px;
  line-height: 35px;
}

.commission__text-container {
  font-weight: 700;
}

.commission__block-title {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-size: 25px;
  line-height: 35px;
  color: var(--blueColor);
}

.commission li {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 35px;
}

.commission ul {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
}

.commission__mail {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 35px;
}

.commission__table-list .commission__list-item:first-child .commission__text-container,
.commission__setup-list .commission__text-container {
  color: var(--blueColor);
}

.commission__secretariat-list .commission__list-item {
  margin-left: 40px;
  margin-top: 10px;
}

.commission__secretariat-list .commission__list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 15px;
  left: -15px;
  background-color: var(--redColor);
}

@media (min-width: 1024px) {
  .commission {
    display: block;
    grid-area: commission;
  }
}
