.contacts {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--whiteColor);
}

.contacts__item {
  position: relative;
}

.contacts__item:not(:last-child)::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(221, 221, 221);
}

.contacts__item-link {
  display: flex;
  min-height: 87px;
  padding: 0 5px;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--blackColor);
  text-decoration: none;
}

.contacts__img-wrapper {
  min-width: 38px;
  height: 38px;
  margin-right: 23px;
  background-image: url("../img/sprites@1x.png");
  background-repeat: no-repeat;
  background-size: 285%;
  font-size: 0;
}

.contacts__item--adress .contacts__img-wrapper {
  background-position: -66px 0;
}

.contacts__item--adress:hover .contacts__img-wrapper {
  background-position: -67px -47px;
}

.contacts__item--mail .contacts__img-wrapper {
  background-position: -70px -91px;
}

.contacts__item--mail:hover .contacts__img-wrapper {
  background-position: -70px -130px;
}

.contacts__item--phone .contacts__img-wrapper {
  background-position: -70px -177px;
}

.contacts__item--phone:hover .contacts__img-wrapper {
  background-position: -70px -220px;
}

.contacts__item--fax .contacts__img-wrapper {
  background-position: -71px -271px;
}

.contacts__item--fax:hover .contacts__img-wrapper {
  background-position: -71px -327px;
}

@media (min-width: 768px) {
  .contacts {
    position: absolute;
    width: 354px;
    top: 37px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  }

  .contacts__item-link {
    padding-left: 29px;
    font-size: 20px;
    line-height: 24px;
  }

  .contacts__item:not(:last-child)::before {
    left: 17px;
    right: 17px;
  }
}

@media (min-width: 1024px) {
  .contacts {
    width: 465px;
    left: 10px;
    top: 74px;
  }

  .contacts__item::before {
    bottom: -4px;
  }

  .contacts__img-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    background-size: auto;
  }

  .contacts__item-link {
    padding: 13px 5px;
    padding-left: 40px;
    font-size: 25px;
    line-height: 30px;
  }

  .contacts__item:first-child .contacts__item-link {
    padding-left: 50px;
  }

  .contacts__item--adress .contacts__img-wrapper {
    background-position: -100px 0;
  }

  .contacts__item--adress:hover .contacts__img-wrapper {
    background-position: -101px -65px;
  }

  .contacts__item--mail .contacts__img-wrapper {
    background-position: -100px -126px;
  }

  .contacts__item--mail:hover .contacts__img-wrapper {
    background-position: -100px -180px;
  }

  .contacts__item--phone .contacts__img-wrapper {
    background-position: -99px -243px;
  }

  .contacts__item--phone:hover .contacts__img-wrapper {
    background-position: -99px -303px;
  }

  .contacts__item--fax .contacts__img-wrapper {
    background-position: -100px -376px;
  }

  .contacts__item--fax:hover .contacts__img-wrapper {
    background-position: -100px -453px;
  }
}

@media (min-resolution: 2dppx) {
  .contacts__img-wrapper {
    background-image: url("../img/sprites@2x.png");
    background-size: 260px;
  }

  .contacts__item--adress .contacts__img-wrapper {
    background-position: -104px -106px;
  }

  .contacts__item--adress:hover .contacts__img-wrapper {
    background-position: -104px -151px;
  }

  .contacts__item--mail .contacts__img-wrapper {
    background-position: -167px 6px;
  }

  .contacts__item--mail:hover .contacts__img-wrapper {
    background-position: -167px -26px;
  }

  .contacts__item--phone .contacts__img-wrapper {
    background-position: -167px -66px;
  }

  .contacts__item--phone:hover .contacts__img-wrapper {
    background-position: -167px -103px;
  }

  .contacts__item--fax .contacts__img-wrapper {
    background-position: -223px 0;
  }

  .contacts__item--fax:hover .contacts__img-wrapper {
    background-position: -223px -46px;
  }

  @media (min-width: 1024px) {
    .contacts__img-wrapper {
      background-image: url("../img/sprites@2x.png");
      background-size: 345px;
    }

    .contacts__item--adress .contacts__img-wrapper {
      background-position: -149px -140px;
    }

    .contacts__item--adress:hover .contacts__img-wrapper {
      background-position: -149px -199px;
    }

    .contacts__item--mail .contacts__img-wrapper {
      background-position: -222px 9px;
    }

    .contacts__item--mail:hover .contacts__img-wrapper {
      background-position: -222px -34px;
    }

    .contacts__item--phone .contacts__img-wrapper {
      background-position: -222px -85px;
    }

    .contacts__item--phone:hover .contacts__img-wrapper {
      background-position: -222px -134px;
    }

    .contacts__item--fax .contacts__img-wrapper {
      background-position: -296px 0;
    }

    .contacts__item--fax:hover .contacts__img-wrapper {
      background-position: -296px -61px;
    }
  }
}


/*FACULTY PAGE*/
.sidebar .contacts__item-link {
  min-height: 81px;
}

.sidebar .contacts__img-wrapper {
  margin-right: 8px;
  margin-left: 10px;
}

.sidebar .contacts__item::before {
  left: 0;
  right: 0;
}

.sidebar .contacts__item-link {
  padding: 0;
}

@media (min-width: 768px) {
  .sidebar .contacts {
    position: static;
    width: 100%;
    box-shadow: none;
  }

}

@media (min-width: 1024px) {
  .sidebar .contacts__item:first-child .contacts__item-link {
    padding: 0;
  }

  .sidebar .contacts__item-link {
    min-height: 103px;
    font-size: 20px;
  }

  .sidebar .contacts__img-wrapper {
    width: 43px;
    height: 43px;
    margin-right: 18px;
    background-size: 125px;
  }

  .sidebar .contacts__item--adress .contacts__img-wrapper {
    background-position: -78px 0;
  }

  .sidebar .contacts__item--adress:hover .contacts__img-wrapper {
    background-position: -79px -54px;
  }

  .sidebar .contacts__item--mail .contacts__img-wrapper {
    background-position: -82px -104px;
  }

  .sidebar .contacts__item--mail:hover .contacts__img-wrapper {
    background-position: -82px -149px;
  }

  .sidebar .contacts__item--phone .contacts__img-wrapper {
    background-position: -82px -205px;
  }

  .sidebar .contacts__item--phone:hover .contacts__img-wrapper {
    background-position: -82px -255px;
  }

  .sidebar .contacts__item--fax .contacts__img-wrapper {
    background-position: -82px -312px;
  }

  .sidebar .contacts__item--fax:hover .contacts__img-wrapper {
    background-position: -82px -376px;
  }
}

@media (min-width: 1440px) {
  .sidebar .contacts__item-link {
    font-size: 25px;
  }
}

@media (min-resolution: 2dppx) {
  @media (min-width: 1024px) {
    .sidebar .contacts__img-wrapper {
      background-size: 295px;
    }

    .sidebar .contacts__item--adress .contacts__img-wrapper {
      background-position: -122px -120px;
    }

    .sidebar .contacts__item--adress:hover .contacts__img-wrapper {
      background-position: -122px -171px;
    }

    .sidebar .contacts__item--mail .contacts__img-wrapper {
      background-position: -190px 7px;
    }

    .sidebar .contacts__item--mail:hover .contacts__img-wrapper {
      background-position: -190px -30px;
    }

    .sidebar .contacts__item--phone .contacts__img-wrapper {
      background-position: -190px -70px;
    }

    .sidebar .contacts__item--phone:hover .contacts__img-wrapper {
      background-position: -190px -112px;
    }

    .sidebar .contacts__item--fax .contacts__img-wrapper {
      background-position: -253px 0;
    }

    .sidebar .contacts__item--fax:hover .contacts__img-wrapper {
      background-position: -253px -52px;
    }
  }
}
