.copyrights {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--whiteColor);
}

@media (min-width: 768px) {
  .copyrights {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .copyrights {
    padding: 15px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .copyrights--faculty {
    padding: 17px 0;
  }
}
