.faculty-content {
  padding: 0 20px;
  padding-top: 130px;
}

@media (min-width: 768px) {
  .faculty-content {
    display: grid;
    grid-template-columns: 55.9% 38.6%;
    grid-column-gap: 5.5%;
    grid-template-areas:
      "main aside";
    padding-top: 85px;
  }
}

@media (min-width: 1024px) {
  .faculty-content {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 55.9% 38.6%;
    grid-column-gap: 5.5%;
    grid-template-areas:
      "info aside"
      "doc aside"
      "commission aside"
      "tidings aside"
      "table aside";
    padding-top: 85px;
  }
}
