.information-slider {
  position: relative;
  min-height: 170px;
  margin-bottom: 30px;
}

.information-slider__slide {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--grayColor);
}

.information-slider__link {
  width: 100%;
}

.information-slider__slide-photo {
  width: 100%;
  height: 100%;
}

.information-slider__slide-text {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 10px;
  font-size: 3vw;
  line-height: 12px;
  color:var(--blackColor);
  font-weight: 400;
}

.information-slider__text-container {
  display: inline-block;
  margin-bottom: 2px;
  padding: 2% 2%;
  background-color: var(--whiteColor);
  vertical-align: middle;
}

.information-slider__label {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 16px;
  background-color: var(--whiteColor);
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .information-slider {
    grid-area: slider;
    margin-bottom: 0;
  }

  .information-slider__slide {
    height: 414px;
  }

  .information-slider__slide-text {
    width: 455px;
    left: 33px;
    top: 275px;
    font-size: 20px;
    line-height: 24px;
  }

  .information-slider__text-container {
    padding: 5px 9px;
  }

  .information-slider__label {
    width: 15px;
    height: 15px;
    margin-right: 16px;
  }
}

@media (min-width: 1024px) {

  .information-slider__slide {
    height: 567px;
  }

  .information-slider__slide-photo{
    vertical-align: top;
  }

  .information-slider__slide-text {
    width: 571px;
    top: 360px;
    font-size: 25px;
    line-height: 30px;
  }

  .information-slider__text-container {
    padding: 5px 13px;
  }

  .information-slider__label {
    margin-right: 14px;
  }
}

@media (min-width: 1460px) {
  .information-slider__slide-text {
    top: 260px;
    left: 23px;
  }

  .information-slider__slide {
    height: 400px;
  }
}
