.resources {
  grid-area: list;
  margin-bottom: 60px;
}

.resources__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resources__list-item {
  position: relative;
}

.resources__list-item::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(221, 221, 221);
}

.resources__list-item:last-child::before {
  display: none;
}

.resources__link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 23px 0;
  padding-left: 23px;
  padding-right: 21px;
  text-decoration: none;
  color: var(--blackColor);
  font-size: 20px;
  line-height: 24px;
}

.resources__img-wrapper {
  min-width: 50px;
  height: 50px;
  margin-right: 17px;
  background-image: url("../img/sprites@1x.png");
  background-size: 230%;
  background-repeat: no-repeat;
}

.resources__link--table .resources__img-wrapper{
  background-position: 4px -149px;
}

.resources__link--table:hover .resources__img-wrapper{
  background-position: 4px -213px;
}

.resources__link--commission .resources__img-wrapper {
  background-position: 0 -284px;
}

.resources__link--commission:hover .resources__img-wrapper {
  background-position: 0 -349px;
}

.resources__link--site .resources__img-wrapper {
  background-position: 0 -419px;
}

.resources__link--site:hover .resources__img-wrapper {
  background-position: 0 -484px;
}

.resources__link--university .resources__img-wrapper {
  background-position: 0 -542px;
}

.resources__link--university:hover .resources__img-wrapper {
  background-position: 0 -606px;
}


.resources__list-item:first-child .resources__link {
  padding-top: 0;
}

.resources__list-item:last-child .resources__link {
  padding-bottom: 0;
}

@media(min-width: 768px) {
  .resources {
    margin-bottom: 0;
  }

  .resources__link {
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) {
  .resources__list-item::before {
    bottom: -2px;
  }

  .resources__img-wrapper {
    min-width: 62px;
    height: 62px;
    margin-right: 15px;
    background-size: auto;
  }

  .resources__link {
    padding: 25px 0;
    font-size: 20px;
    line-height: 30px;
  }

  .resources__link--table .resources__img-wrapper{
    background-position: 7px -197px;
  }

  .resources__link--table:hover .resources__img-wrapper{
    background-position: 7px -281px;
  }

  .resources__link--commission .resources__img-wrapper {
    background-position: 2px -369px;
  }

  .resources__link--commission:hover .resources__img-wrapper {
    background-position: 2px -454px;
  }

  .resources__link--site .resources__img-wrapper {
    background-position: 3px -545px;
  }

  .resources__link--site:hover .resources__img-wrapper {
    background-position: 3px -630px;
  }

  .resources__link--university .resources__img-wrapper {
    background-position: 0 -710px;
  }

  .resources__link--university:hover .resources__img-wrapper {
    background-position: 0 -793px;
  }
}

@media (min-width: 1460px) {
  .resources__img-wrapper {
    margin-right: 27px;
  }

  .resources__link {
    padding-left: 27px;
    font-size: 25px;
  }
}

@media (min-resolution: 2dppx) {
  .resources__img-wrapper {
    background-image: url("../img/sprites@2x.png");
    background-size: 270px;
  }

  .resources__link--table .resources__img-wrapper {
    background-position: 4px -96px;
  }

  .resources__link--table:hover .resources__img-wrapper {
    background-position: 4px -153px;
  }

  .resources__link--commission .resources__img-wrapper {
    background-position: -57px 0;
  }

  .resources__link--commission:hover .resources__img-wrapper {
    background-position: -57px -56px;
  }

  .resources__link--site .resources__img-wrapper {
    background-position: -57px -107px;
  }

  .resources__link--site:hover .resources__img-wrapper {
    background-position: -57px -155px;
  }

  .resources__link--university .resources__img-wrapper {
    background-position: -115px 0;
  }

  .resources__link--university:hover .resources__img-wrapper {
    background-position: -115px -54px;
  }

  @media (min-width: 1024px) {
    .resources__img-wrapper {
      background-size: 340px;
    }

    .resources__link--table .resources__img-wrapper {
      background-position: 9px -122px;
    }

    .resources__link--table:hover .resources__img-wrapper {
      background-position: 9px -194px;
    }

    .resources__link--commission .resources__img-wrapper {
      background-position: -73px 0;
    }

    .resources__link--commission:hover .resources__img-wrapper {
      background-position: -73px -71px;
    }

    .resources__link--site .resources__img-wrapper {
      background-position: -73px -134px;
    }

    .resources__link--site:hover .resources__img-wrapper {
      background-position: -73px -194px;
    }

    .resources__link--university .resources__img-wrapper {
      background-position: -146px 0;
    }

    .resources__link--university:hover .resources__img-wrapper {
      background-position: -146px -68px;
    }

  }
}
