.version {
  padding: 11px 0;
  background-color: rgb(231, 231, 231);
  text-align: right;
}

.version__link {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: rgb(109, 109, 109);
  text-decoration: none;
  cursor: pointer;
}

.version__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 14px;
  left: -36px;
  background-image: url("../img/eye-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.version__link--vision {
  display: none;
}

@media (min-width: 768px) {
  .version {
    padding-right: 20px;
    background-color: rgb(231, 231, 231);
    text-align: right;
  }

  .version__link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
}


@media (min-width: 1024px) {

  .version {
    padding: 19px 0;
  }

  .version__link {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: normal;
  }

  .version__link::before {
    width: 30px;
    height: 17px;
    left: -41px;
  }
}
