.information .container {
  display: grid;
  padding: 50px 20px;
  grid-template: 415px 337px 593px/355px 355px;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  grid-template-areas:
    "slider slider"
    "photo list"
    "news news";
}

.information__slider {
  grid-area: slider;
  background-image: url("../img/photo-slider-tablet.jpg");
}

.information__photo {
  grid-area: photo;
  padding-top: 236px;
  background-image: url("../img/photo-news-tablet.jpg");
  background-repeat: no-repeat;
}

.information__photo-title {
  position: relative;
  margin: 0;
  padding: 15px 25px;
  background-color: var(--blueColor);
  font-size: 25px;
  line-height: 45px;
  font-weight: 700;
  color: var(--whiteColor);
  text-align: center;
  text-transform: uppercase;
}

.information__photo-title::before {
  content: "24 сентября";
  display: inline;
  position: absolute;
  padding: 10px 15px;
  top: -44px;
  left: 0;
  background-color: var(--redColor);
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}
