.information-list {
  margin: 0;
  padding: 0;
  grid-area: list;
  list-style: none;
}

.information-list__item {
}

.information-list__link {
  display: block;
  position: relative;
  padding: 33px 0;
  padding-left: 90px;
  border-bottom: 2px rgb(221, 221, 221) solid;
  text-decoration: none;
  color: var(--blackColor);
  font-size: 20px;
  line-height: 24px;
}

.information-list__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 47px;
  height: 50px;
  top: 10px;
  left: 20px;
}

.information-list__link--table::before {
  background-image: url("../img/icon-table.png");
}

.information-list__link--commission::before {
  background-image: url("../img/icon-commission.png");
}

.information-list__link--site::before {
  background-image: url("../img/icon-site.png");
}

.information-list__link--university::before {
  background-image: url("../img/icon-university.png");
}

.information-list__item:first-child .information-list__link {
  padding-top: 0;
}

.information-list__item:last-child .information-list__link {
  padding-bottom: 0;
  border-bottom: none;
}
