.information .container {
  display: grid;
  padding: 50px 20px;
  grid-template: 415px 337px 593px/48.7% 48.7%;
  grid-column-gap: 2.6%;
  grid-row-gap: 50px;
  grid-template-areas:
    "slider slider"
    "photo list"
    "news news";
}

@media (min-width: 1440px) {
  .information .container {
    padding: 90px 0;
    grid-template: auto auto/ 709px 346px 345px;
    grid-column-gap: 20px;
    grid-row-gap: 86px;
    grid-template-areas:
    "slider photo list"
    "news news news";
  }
}
