.poor-vision .advertisement__title {
  background-color: var(--blackColor);
  font-size: 22px;
  color: var(--whiteColor);
}

.poor-vision .advertisement__title::before {
  top: -40px;
  font-size: 18px;
  line-height: 20px;
  background-color: var(--whiteColor);
  color: var(--blackColor);
  font-weight: 700;
}

@media (min-width: 768px) {
  .poor-vision .advertisement__title {
    font-size: 27px;
  }

  .poor-vision .advertisement__title::before {
    top: -50px;
    font-size: 25px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .advertisement {
    height: 400px;
  }

  .poor-vision .advertisement__title {
    padding: 8px 0;
    font-size: 30px;
    line-height: 47px;
  }

  .poor-vision .advertisement__title::before {
    padding: 12px 19px;
    top: -60px;
    font-size: 30px;
    line-height: 36px;
  }
}
