.poor-vision .contacts__img-wrapper {
  max-width: auto;
  height: auto;
  margin-right: 0;
  background-image: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--blackColor);
}

.poor-vision .contacts__item-link {
  display: inline-block;
  padding: 25px 0;
  min-height: auto;
  vertical-align: middle;
  font-size: 20px;
  line-height: 24px;
}

.poor-vision .contacts__item:not(:last-child)::before {
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .poor-vision .contacts__img-wrapper {
    font-size: 22px;
    line-height: 29px;
  }

  .poor-vision .contacts__item-link {
    padding: 25px 10px;
    font-size: 22px;
    line-height: 29px;
  }

  .poor-vision .contacts__item:not(:last-child)::before {
    left: 10px;
    right: 10px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .contacts {
    width: auto;
  }

  .poor-vision .contacts__item {
    text-align: center;
  }

  .poor-vision .contacts__item:first-child .contacts__item-link {
    padding-left: 0;
  }

  .poor-vision .contacts__item-link {
    display: table-cell;
    width: 587px;
    height: 114px;
    padding: 0;
    vertical-align: middle;
    font-size: 30px;
    line-height: 36px;
  }

  .poor-vision .contacts__img-wrapper {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-resolution: 2dppx) {
  .poor-vision .contacts__img-wrapper {
    background-image: none;
  }
}


/*FACULTY PAGE*/
.poor-vision .sidebar .contacts__img-wrapper {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .poor-vision .sidebar .contacts__item {
    text-align: left;
  }

  .poor-vision .sidebar .contacts__item-link {
    width: auto;
    height: 120px;
    padding-left: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .poor-vision .sidebar .contacts__item:first-child .contacts__item-link {
    padding-left: 20px;
  }

  .poor-vision .sidebar .contacts__img-wrapper {
    margin-right: 0;
  }

}
