.poor-vision .copyrights {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .poor-vision .copyrights {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .copyrights {
    font-size: 25px;
    line-height: 30px;
  }
}
