.poor-vision .slick-dots li.slick-active button::before {
  background-color: var(--blackColor);
}

.poor-vision .information-slider__slide-text {
   font-weight: 700;
}

@media (min-width: 768px) {
  .poor-vision .information-slider__slide-text {
    width: 650px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .information-slider__slide-text {
    width: 685px;
    top: 249px;
    left: 15px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;
  }

  .poor-vision .information-slider__text-container {
    padding: 5px 7px;
  }

  .poor-vision .slick-dots {
    bottom: 19px;
  }

  .poor-vision .slick-dots button::before {
    width: 20px;
    height: 20px;
  }

  .poor-vision .slick-dots li {
    margin: 0 9px;
  }

  .poor-vision .slick-arrow {
    width: 48px;
    height: 48px;
  }

  .poor-vision .slick-arrow::before,
  .poor-vision .slick-arrow::after {
    width: 21px;
    height: 2px;
  }

  .poor-vision .slick-prev::before,
  .poor-vision .slick-next::after {
    top: 30px;
    left: 14px;
  }

  .poor-vision .slick-prev::after,
  .poor-vision .slick-next::before {
    top: 16px;
    left: 14px;
  }
}
