.poor-vision .logo {
  width: 280px;
  height: 230px;
  margin: 0 auto;
  box-shadow: none;
}

.poor-vision .logo--vision {
  display: flex;
  position: static;
  justify-content: center;
}

.poor-vision .logo--normal {
  display: none;
}

@media (min-width: 768px) {
  .poor-vision .logo {
    width: 560px;
    height: 300px;
  }

  .poor-vision .logo__img {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .poor-vision .logo {
    position: absolute;
    width: 343px;
    height: 230px;
    left: 10px;
    top: -168px;
  }

  .poor-vision .logo__img {
    width: 100%;
  }
}
