.poor-vision .map {
  background-image: url("../img/map-mobile-vision@1x.jpg");
}

@media (min-width: 768px) {
  .poor-vision .map {
    background-image: url("../img/map-tablet-vision@1x.jpg");
  }
}

@media (min-width: 1024px) {
  .poor-vision .map {
    background-image: url("../img/map-desktop-vision@1x.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .poor-vision .map {
    background-image: url("../img/map-mobile-vision@2x.jpg");
  }

  @media (min-width: 768px) {
    .poor-vision .map {
      background-image: url("../img/map-tablet-vision@2x.jpg");
    }
  }

  @media (min-width: 1024px) {
    .poor-vision .map {
      background-image: url("../img/map-desktop-vision@2x.jpg");
    }
  }
}
