.poor-vision .news__item {
  margin-bottom: 30px;
}

.poor-vision .news__title {
  font-size: 28px;
  line-height: 34px;
  color: var(--blackColor);
}

.poor-vision .news__item-date {
  padding: 6px 0;
  background-color: transparent;
  font-size: 20px;
  line-height: 24px;
  color: var(--blackColor);
}

.poor-vision .news__item-text {
  font-size: 20px;
  line-height: 24px;
}

.poor-vision .news a {
  font-weight: 700;
  color: var(--blackColor);
}

.poor-vision .news__all-news {
  font-size: 24px;
  line-height: 30px;
  border: 3px solid var(--blackColor);
}

@media (min-width: 768px) {
  .poor-vision .news__title {
    font-size: 35px;
    line-height: 42px;
  }

  .poor-vision .news__item-date {
    font-size: 25px;
    line-height: 30px;
  }

  .poor-vision .news__item-title {
    font-size: 25px;
    line-height: 30px;
  }

  .poor-vision .news__item-text {
    font-size: 25px;
    line-height: 30px;
  }

  .poor-vision .news a {
    font-size: 25px;
  }

  .poor-vision .news__all-news {
    font-size: 27px;
    line-height: 32px;
    border-width: 4px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .news__item {
    margin-bottom: 45px;
  }

  .poor-vision .news__title {
    margin-bottom: 62px;
    font-size: 45px;
    line-height: 54px;
  }

  .poor-vision .news__item-date {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 36px;
  }

  .poor-vision .news__item-title {
    margin-bottom: 18px;
    font-size: 35px;
    line-height: 42px;
  }

  .poor-vision .news__item-text {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 43px;
  }

  .poor-vision .news a {
    font-size: 35px;
  }

  .poor-vision .news .news__all-news {
    margin-top: 40px;
    padding: 22px 40px;
    font-size: 30px;
    line-height: 36px;
    border-width: 5px;
    border-radius: 45px;
  }
}

@media (min-width: 1460px) {
  .poor-vision .news__item {
    flex-basis: 49.2%;
  }

  .poor-vision .news__item:nth-child(2n+1) {
    flex-basis: 40.9%;
  }
}
