.poor-vision .presentation {
  margin-bottom: 30px;
}

.poor-vision .presentation__title {
  position: static;
  padding-top: 40px;
  top: auto;
  transform: none;
  color: var(--blackColor);
}

.poor-vision .presentation__slider {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  .poor-vision .presentation__title {
    padding-top: 60px;
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .presentation {
    margin: 0;
  }
  .poor-vision .presentation__title {
    padding-top: 85px;
    font-size: 50px;
    line-height: 80px;
  }
}

@media (min-width: 1460px) {
  .poor-vision .presentation__title {
    margin: 0 auto;
  }
}
