.poor-vision .resources__list-item {
  text-align: center;
}

.poor-vision .resources__list-item::before {
  background-color: rgb(154, 154, 154);
}

.poor-vision .resources__img-wrapper {
  min-width: 0;
  margin-right: 0;
}

.poor-vision .resources__link {
  padding: 23px 0;
  justify-content: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .poor-vision .resources__link {
    font-size: 27px;
    line-height: 32px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .resources__link {
    padding: 20px 10px;
    font-size: 30px;
    line-height: 36px;
  }

  .poor-vision .resources__list-item::before {
    bottom: 0;
  }
}
