.poor-vision .table__data {
  font-size: 20px;
  line-height: 24px;
  color: var(--blackColor);
}

.poor-vision .table__header {
  font-size: 22px;
  line-height: 26px;
  color: var(--blackColor);
  border-bottom: 2px solid var(--blackColor);
}

@media (min-width: 768px) {
  .poor-vision .table__data {
    font-size: 25px;
    line-height: 30px;
  }

  .poor-vision .table__header {
    font-size: 28px;
    line-height: 33px;
  }
}

@media (min-width: 1024px) {
  .poor-vision .table__data {
    font-size: 30px;
    line-height: 55px;
  }

  .poor-vision .table__header {
    font-size: 38px;
    line-height: 45px;
  }
}
