.poor-vision .version {
  background-color: transparent;
}

.poor-vision .version__link {
    font-size: 18px;
    line-height: 20px;
    color: var(--blackColor);
  }

.poor-vision .version__link::before {
  width: 33px;
  height: 18px;
  left: -50px;
  background-position: 0 -103px ;
  background-size: 330%;
}

.poor-vision .version__link:hover::before {
  background-position: 0 -103px ;
}


.poor-vision .version__link--normal {
  display: none;
}

.poor-vision .version__link--vision {
  display: inline;
}

@media (min-width: 768px) {
  .poor-vision .version__link {
    font-size: 21px;
    line-height: 25px;
  }

  .poor-vision .version__link::before {
    width: 35px;
    height: 20px;
    left: -55px;
    background-position: 0 -112px ;
    background-size: 340%;
  }
}

@media (min-width: 1024px) {
  .poor-vision .version {
    padding: 0;
    padding-top: 40px;
    margin-bottom: 97px;
  }

  .poor-vision .version__link {
    font-size: 25px;
    line-height: 30px;
  }

  .poor-vision .version__link::before {
    width: 42px;
    height: 24px;
    left: -54px;
    background-size: auto;
    background-position: 0 -143px ;
  }

  .poor-vision .version__link:hover::before {
    background-position: 0 -143px ;
  }
}

@media (min-resolution: 2dppx) {
  .poor-vision .version__link::before,
  .poor-vision .version__link:hover::before {
    background-size: 270px;
    background-position: 0 -72px;
  }

  @media (min-width: 768px) {
    .poor-vision .version__link::before,
    .poor-vision .version__link:hover::before {
      background-size: 280px;
      background-position: 0 -74px;
    }
  }

  @media (min-width: 1024px) {
    .poor-vision .version__link::before,
    .poor-vision .version__link:hover::before {
      background-size: 350px;
      background-position: 0 -93px;
    }
  }
}
